@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Provide a simple dark mode toggle by leveraging the `dark` class on the html element. */
html.dark {
  color-scheme: dark;
}